body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

#password_non_sicura{
    width: 100%;
    text-align: left;
}

#password_non_sicura .text {
    font-size: 1rem;
    font-weight: 500;
}

#password_non_sicura .password {
    font-size: 1rem;
    font-weight: 700;
}